/* Logo styles */
.app-logo {
  height: 3vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

/* Container styles */
.container {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(5px + 1vmin);
  color: hsl(0, 0%, 70%);
  display: grid;
  grid-template-columns: minmax(auto, 15em) 5fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header header'
    'aside article'
    'footer footer';
}

/* App bar styles */
.container > header {
  height: 5vh;
  padding: 0 1rem;
  border-bottom: 1px solid hsl(0, 0%, 40%);
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  grid-area: header;
}

/* Sidebar styles */
.container > aside {
  /* padding: 1rem 1.5rem; */
  border-right: 1px solid hsl(0, 0%, 40%);
  grid-area: aside;
}

/* Main content styles */
.container > article {
  padding: 1.5rem;
  grid-area: article;
}

/* Footer styles */
.container > footer {
  height: 5vh;
  padding: 0 1.5rem;
  font-size: calc(2px + 1vmin);
  border-top: 1px solid hsl(0, 0%, 40%);
  display: grid;
  gap: 0.3rem;
  grid-template-columns: max-content 1fr;
  align-items: center;
  grid-area: footer;
}

/* Logo spin animation */
@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Here starts the individual element styles */

/* Sidebar link container styles */
.container > aside > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Sidebar list item styles */
.container > aside > ul li {
  padding: 1rem 1.5rem 0;
  font-size: calc(3px + 1vmin);
}

/* Sidebar list item link styles */
.container > aside > ul li a {
  text-decoration: none;
  color: hsl(0, 0%, 70%);
}

.container > aside > ul li a i {
  margin-right: 0.5rem;
}

/* Form styles */
.container > article > form,
.container > article > form > .text-field {
  display: grid;
  gap: 1rem;
}

.container > article > form {
  grid-template-columns: repeat(3, minmax(300px, 1fr));
}

/* Form label styles */
.container > article > form > .text-field > label {
  font-size: calc(2px + 1vmin);
}

/* Form input styles */
.container > article > form > .text-field > input {
  padding: 0.9rem;
  font-size: calc(2px + 1vmin);
  border: transparent;
  background: hsl(0, 0%, 83%);
}

/* Form button container styles */
.container > article > form .button-group {
  display: grid;
  grid-template-columns: repeat(2, max-content);
}

.container > article > form .button-group > * + * {
  margin-left: 1rem;
}

/* Form button icon styles */
.container > article > form .button-group i {
  margin-right: 0.3rem;
}

/* Form submit button styles */
.container > article > form button[type='submit'] {
  width: max-content;
  padding: 0.9rem 3rem;
  font-size: calc(2px + 1vmin);
  border-radius: 0.25rem;
  border: transparent;
  background: hsl(211, 100%, 67%);
  color: hsl(210, 100%, 18%);
}

/* Form clear button styles */
.container > article > form button {
  width: max-content;
  padding: 0.9rem 3rem;
  font-size: calc(2px + 1vmin);
  border-radius: 0.25rem;
  border: transparent;
  background: hsl(0, 0%, 65%);
}

/* Bookmarks collection container styles */
.container > article > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1.5rem;
}

/* Generic bookmark item styles */
.container > article > ul * {
  text-decoration: none;
  font-size: calc(5px + 1vmin);
  color: hsl(0, 0%, 70%);
  overflow: hidden;
}

/* Bookmark item styles */
.container > article > ul li {
  padding: 1rem 1rem 1.3rem;
  border: 1px solid hsl(0, 0%, 40%);
  border-radius: 4px;
}

/* Bookmark title styles */
.container > article > ul li * {
  margin: 0;
}

/* Bookmarks hyperlink styles */
.container > article > ul li * + * {
  margin-top: 1rem;
  font-size: calc(1px + 1vmin);
}
